user  {{ nginx_user }} {% if nginx_user != nginx_group %} {{ nginx_group }}{% endif %};

worker_processes  {{ nginx_worker_processes }};

{% if nginx_daemon_disable %}
daemon off;
{% endif %}

{% if nginx_worker_rlimit_nofile %}
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};
{% endif %}

error_log  {{ nginx_log_dir }}/{{ nginx_error_log_filename }} {% if nginx_error_log_options %}{{ nginx_error_log_options }}{% endif %};
pid        {{ nginx_pid }};

events {
    worker_connections  {{ nginx_worker_connections }};

{% if nginx_multi_accept %}
    multi_accept on;
{% endif %}

{% if nginx_event %}
    use {{ nginx_event }};
{% endif %}

}

http {

    include       {{ nginx_conf_dir }}/mime.types;
    default_type  application/octet-stream;

{% if nginx_charset %}
    charset {{ nginx_charset }};
{% endif %}

{% if nginx_disable_access_log %}
    access_log    off;
{% else %}
{% for log in nginx_access_logs %}
    log_format  {{ log['name'] }}  '{{ log['format'] }}' {% if nginx_error_log_level %}{{ nginx_error_log_level }}{% endif %};
    access_log    {{ nginx_log_dir }}/{{ log['filename'] }} {{ log['name'] }}{% if log['options'] %} {{ log['options'] }}{% endif %};
{% endfor %}
{% endif %}

{% if nginx_sendfile %}
    sendfile {{ nginx_sendfile }};
{% endif %}
{% if nginx_tcp_nopush %}
    tcp_nopush {{ nginx_tcp_nopush }};
{% endif %}
{% if nginx_tcp_nodelay %}
    tcp_nodelay {{ nginx_tcp_nodelay }};
{% endif %}

{% if nginx_keepalive %}
    keepalive_timeout  {{ nginx_keepalive_timeout }};
{% endif %}
{% if nginx_client_body_timeout %}
    client_body_timeout  {{ nginx_client_body_timeout }};
{% endif %}
{% if nginx_client_header_timeout %}
    client_header_timeout  {{ nginx_client_header_timeout }};
{% endif %}
{% if nginx_send_timeout %}
    send_timeout  {{ nginx_send_timeout }};
{% endif %}

{% if nginx_gzip %}
    gzip  {{ nginx_gzip }};
{% endif %}
{% if nginx_gzip == 'on' %}
    gzip_http_version {{ nginx_gzip_http_version }};
    gzip_comp_level {{ nginx_gzip_comp_level }};
    gzip_proxied {{ nginx_gzip_proxied }};
    gzip_vary {{ nginx_gzip_vary }};
{% if nginx_gzip_buffers %}
    gzip_buffers {{ nginx_gzip_buffers }};
{% endif %}
    gzip_types {{ nginx_gzip_types|join(' ') }};
    gzip_min_length {{ nginx_gzip_min_length }};
    gzip_disable    "{{ nginx_gzip_disable }}";
{% endif %}

{% if nginx_client_body_buffer_size %}
    client_body_buffer_size  {{ nginx_client_body_buffer_size }};
{% endif %}
{% if nginx_client_header_buffer_size %}
    client_header_buffer_size  {{ nginx_client_header_buffer_size }};
{% endif %}
{% if nginx_client_max_body_size %}
    client_max_body_size  {{ nginx_client_max_body_size }};
{% endif %}
{% if nginx_large_client_header_buffers %}
    large_client_header_buffers  {{ nginx_large_client_header_buffers }};
{% endif %}

{% if nginx_enable_rate_limiting %}
    limit_req_zone $binary_remote_addr zone={{ nginx_rate_limiting_zone_name }}:{{ nginx_rate_limiting_backoff }} rate={{ nginx_rate_limit }};
{% endif %}

    include {{ nginx_confd_dir }}/*.conf;
}