{% for u in item.upstream %}
upstream {{ u.name }} {

{% if u.strategy is defined %}
    {{ u.strategy }};
{% endif %}

{% for k,v in u.iteritems() if k.find('server') != -1 %}
{% for s in v %}
    server {{ s.name }}{% if s.weight is defined %} weight={{ s.weight }}{% endif %};
{% endfor %}
{% endfor %}

}
{% endfor %}