[Unit]
Description = NGINX
After = syslog.target network.target

[Service]
Type = forking
ExecStart = {{ nginx_service_sbin }} -c {{ nginx_service_conf }}
ExecReload = {{ nginx_service_sbin }} -s reload
ExecStop = {{ nginx_service_sbin }} -s stop

[Install]
WantedBy = multi-user.target