[Unit]
Description=nginx
After=syslog.target network.target

[Service]
Type=forking
ExecStartPre={{ nginx_root_dir }}/sbin/nginx -t -c {{ nginx_conf_dir }}/nginx.conf
ExecStart={{ nginx_root_dir }}/sbin/nginx -c {{ nginx_conf_dir }}/nginx.conf
ExecReload={{ nginx_root_dir }}/sbin/nginx -c {{ nginx_conf_dir }}/nginx.conf -s reload
ExecStop={{ nginx_root_dir }}/sbin/nginx -s stop

[Install]
WantedBy=multi-user.target
